/*  
Name: mluIlias
URI: http://ilias.urz.uni-halle.de
Description: Skin für Ilias an der MLU Halle-Wittenberg
Version: 0.1
Author: Matthias Kretschmann
Author URI: http://mkretschmann.com
*/

@import url('delos.css');

/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

/* END html5doctor.com Reset */

/**
 * Minimal base styles
 * from HTML5Boilerplate */

html { overflow-y: scroll; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }

body { font: 13px/1.231 sans-serif; *font-size:small; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }
  
a:link { -webkit-tap-highlight-color: #000; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
b, strong, th { font-weight: bold; }

td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }

.ie6 legend, .ie7 legend { margin-left: -7px; } 

button, input, select, textarea { width: auto; overflow: visible; margin: 0; font-size: 100%; font-family: sans-serif; vertical-align: baseline; }

textarea { overflow: auto; vertical-align:text-top; }

label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

input::-moz-focus-inner,
button::-moz-focus-inner { border: 0; padding: 0; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

.ie7 img { -ms-interpolation-mode: bicubic; }

/* delos layout images not found fix */
td.ilBlockHeader, td.ilBlockHeaderBig,
th.ilContainerBlockHeader,
div.ilTableHeaderTitleBlock,
.il_VAccordionHead, .il_HAccordionHead,
div.il_Explorer,
div.ilExpH,
td.ilExpBody,
div.ilFrameBL,
div.ilFrameBR,
div.ilFrameTR,
div.ilFrameTL,
input.ilMainMenuSearch,
body.std,
body.il_Explorer,
div.ilMainMenu,
div.ilProfile,
input.submit, a.submit, a.submit:hover,
a.ilEditSubmit,
input.ilEditSubmit,
input.ilMainMenuSearchSubmit {
	background-image: none
}

/* END minimal base styles */

/** =============================
 *  START THIS THING
 *  =============================
 *  =============================
 */

/* Base stuff
--------------------------------*/
html, body, body.std, body.kiosk, body.il_Explorer {
	background: #fbfbfb;
}

body {
	border-top: 3px solid #9bc34b;
}

/* Typography 
--------------------------------*/
body, select, input, textarea {
  color: #444;
  font: 16px/1.4em "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  text-shadow: 0 1px 0 #fff;
}

/* Headings */
h1, h2, h3, h4, h5, h6, legend { 
	font-weight: bold; 
}

	h1, legend {
		font-size: 1.7143em; /* 24px */
  		line-height: 1.6667em; /* 40px */
  		margin-top: 0.8333em;
  		margin-bottom: 0em;
	}
	
	h2 {
		font-size: 1.5714em; /* 22px */
	  	line-height: 1.8182em; /* 40px */
	  	margin-top: 0.9091em;
	  	margin-bottom: 0em;
	}
	
	h3,
	h3.ilFormHeader,
	h3.il_InfoScreenSection {
		font-size: 1.4286em; /* 20px */
  		line-height: 1em; /* 20px */
  		margin-top: 1em;
  		margin-bottom: 0em;
  		font-weight: normal
	}
	
	h4 {
		font-size: 1.2857em; /* 18px */
  		line-height: 1.1111em; /* 20px */
  		margin-top: 1.1111em;
  		margin-bottom: 0em;
	}
	
	h5 {
		font-size: 1.1429em; /* 16px */
 		line-height: 1.25em; /* 20px */
  		margin-top: 1.25em;
  		margin-bottom: 0em;
	}
	
	h6 {
		font-size: 1em; /* 14px */
  		line-height: 1.4286em; /* 20px */
  		margin-top: 1.4286em;
  		margin-bottom: 0em;
	}

/* Links */
a, a:link, a:active, a:visited { 
	color: #6AA101;
	text-decoration: none;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

a:hover {
	background: #ecf2e2;
	background: rgba(106, 161, 1, .1);
	text-decoration: none;
}

a:hover, a:active { outline: none; }

a:active, a:focus {
	background-color: black;
	color: white;
	text-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none
}

/* Ilias non-link anchors */
a.ilAccAnchor {
	color: #444;
	background: none
}

a.il_ContainerItemCommand2:link, a.il_ContainerItemCommand2:visited, a.il_ContainerItemCommand:link, a.il_ContainerItemCommand:visited {
	border: none
}

/* Form Styles */

input, textarea, select, a.submit {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: .1em .5em;
	font-weight: bold;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	background: #fbfbfb;
}

label {
	color: #7f7f7f
}

select {
	font-size: .9em;
	font-weight: normal
}

input:focus,
textarea:focus {
	-webkit-box-shadow: 0 0 5px #93c8ba;
	-moz-box-shadow: 0 0 5px #93c8ba;
	box-shadow: 0 0 5px #93c8ba;
	border: 1px solid #bfc9c5;
	background: #fff;
	outline: none
}

/* Reset delos button styles */

input.submit, a.submit,
input.ilEditSubmit,
a.submit:hover, input.submit:hover,
input.ilEditSubmit:hover,
a.submit .small, a.submit:hover .small {
	background-color: transparent;
    background-image: none;
    border: none;
    font-size: 100%;
}

/* Start our own button styles */

input.submit,
a.submit,
input.ilEditSubmit {
	color: #1c5562;
	background-color: #dfeae7;
	background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0) 3%, rgba(0,0,0,0.01) 27%, rgba(0,0,0,0.05) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(3%,rgba(246,246,246,0)), color-stop(27%,rgba(0,0,0,0.01)), color-stop(100%,rgba(0,0,0,0.05)));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,0) 3%,rgba(0,0,0,0.01) 27%,rgba(0,0,0,0.05) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,0) 3%,rgba(0,0,0,0.01) 27%,rgba(0,0,0,0.05) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,0) 3%,rgba(0,0,0,0.01) 27%,rgba(0,0,0,0.05) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,0) 3%,rgba(0,0,0,0.01) 27%,rgba(0,0,0,0.05) 100%);
	border: 1px solid #c5cfcf;
	border-bottom-color: #b0b9bb;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	display: inline-block;
	padding: .2em 1em;
	text-align: center;
	position: relative;
	line-height: 20px;
	font-weight: bold;
	font-size: .9em;
}

	a.submit .small {
		font-size: .9em;
	}

a.submit:hover, input.submit:hover,
input.ilEditSubmit:hover {
	background-color: #dfeae7;
	border: 1px solid #c5cfcf;
	border-bottom-color: #b0b9bb;
	background-color: #dfeae7;
	color: #444444;
	font-size: .9em;
	display: inline-block;
	padding: .2em 1em;
	line-height: 20px;
	font-weight: bold;
}

	a.submit:hover .small {
		font-size: .9em;
	}

input.submit:active,
a.submit:active,
a.ilEditSubmit:active {
	top: 1px;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

/* Selection styles */
::-moz-selection{ background: #000; color:#fff; text-shadow: none; }
::selection { background:#000; color:#fff; text-shadow: none; }

/* Layout 
--------------------------------*/
div.ilFrame {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 1%;
	position: relative;
	float: none;
}

.fullwidth {
	width: 100%;
	max-width: 100%;
}

div.ilFrame.fullwidth {
	width: 98%;
	max-width: 98%;
}

div.ilFrameBR {
	padding: 0
}

/* Main Header */
div.ilFrameH, div.ilFrameTL, div.ilFrameTR, div.ilFrameBR, div.ilFrameBL {
	background: none
}

div.ilMainHeader {
	position: relative
}

div.ilMainHeader > div:first-child {
	margin: .7em 0;
}

div.ilMainHeader div:first-child img {
	width: 153px;
	height: 80px;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

	.no-opacity div.ilMainHeader div:first-child img {
		filter: alpha(opacity=50);
	}

img.mlu-siegel {
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
}

	.no-opacity img.mlu-siegel {
		filter: alpha(opacity=30);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	}

a:hover img.mlu-siegel {
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

div.ilTopTitle {
	color: #8a8a8a;
	padding-top: 0;
	margin-top: 1.5em;
	max-width: 70%;
}

div.ilTopTitle span {
	display: block;
	color: #b7b7b7
}

div.ilLogin {
	padding: 0 1em;
	white-space: normal;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	min-width: 320px;
	color: #5f6357;
	color: rgba(68, 68, 68, .8);
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	background: #9bc34b;
	background: -moz-linear-gradient(top, #9bc34b 0%, #92b948 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bc34b), color-stop(100%,#92b948));
	background: -webkit-linear-gradient(top, #9bc34b 0%,#92b948 100%);
	background: -o-linear-gradient(top, #9bc34b 0%,#92b948 100%);
	background: -ms-linear-gradient(top, #9bc34b 0%,#92b948 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc34b', endColorstr='#92b948',GradientType=0 );
	background: linear-gradient(top, #9bc34b 0%,#92b948 100%);
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border: 1px solid #86a841;
	border-bottom-color: #718f38;
	border-top: none;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

	div.ilLogin a {
		color: #005133;
		text-shadow: 0 1px 0 rgba(255,255,255,.5);
	}
	
		div.ilLogin a:active {
			color: #fff;
			text-shadow: 0 -1px 0 #444;
		}

	div.ilLogin span.il_menu {
		padding-left: 0;
		min-width: 390px;
		display: block;
	}

div.ilMainMenuSearch {
	margin: 0;
	position: absolute;
	right: 3px;
	bottom: 4px;
	z-index: 5
}

	.oldie div.ilMainMenuSearch {
		bottom: 20px;
	}

form.ilMainMenuSearch > div {
	position: relative !important;
	right: 0 !important;
}

input.ilMainMenuSearch {
	padding: .15em .5em;
	padding-right: 24px;
	background-color: #FBFBFB;
	background-image: none;
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.05) 4%, rgba(0,0,0,0) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(4%,rgba(0,0,0,0.05)), color-stop(100%,rgba(0,0,0,0)));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.05) 4%,rgba(0,0,0,0) 100%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.05) 4%,rgba(0,0,0,0) 100%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.05) 4%,rgba(0,0,0,0) 100%);
	background-image: linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.05) 4%,rgba(0,0,0,0) 100%);
	font-size: .9em !important;
	border: 1px solid #718f38;
	border-bottom-color: #86a841;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.6);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.6);
	box-shadow: 0 1px 0 rgba(255,255,255,.6);
}

	input.ilMainMenuSearch:focus {
		background-color: #fff;
		border-color: #005133
	}

input.ilMainMenuSearchSubmit {
	background: transparent url(images/icon-search.png) no-repeat center center;
	padding: 0;
	width: 16px;
	height: 16px;
	text-indent: -99999px;
	position: absolute;
	right: 5px;
	top: 5px;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

	input.ilMainMenuSearchSubmit:active {
		top: 6px
	}
	

/* Navigation
--------------------------------*/
div.ilMainMenu {
	clear: both;
	border: 1px solid #86a841;
	border-bottom-color: #718f38;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	background: #9bc34b;
	background: -moz-linear-gradient(top, #a1cb4f 0%, #9bc34b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a1cb4f), color-stop(100%,#9bc34b));
	background: -webkit-linear-gradient(top, #a1cb4f 0%,#9bc34b 100%);
	background: -o-linear-gradient(top, #a1cb4f 0%,#9bc34b 100%);
	background: -ms-linear-gradient(top, #a1cb4f 0%,#9bc34b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A1CB4F', endColorstr='#9BC34B',GradientType=0 );
	background: linear-gradient(top, #a1cb4f 0%,#9bc34b 100%);
	position: relative;
	padding: 0;
	margin: 2em 0 1em 0;
}

	div.ilMainMenu:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-top: 1px solid #fff;
		border-top: 1px solid rgba(255,255,255,.6);
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
	}

div.ilMainMenu li {
	display: inline;
	float: left;
	border-left: 1px solid rgba(255,255,255,.2);
	border-right: 1px solid rgba(0, 81, 51, .1);
}

	div.ilMainMenu li:first-child {
		border-left: none;
	}

div.ilMainMenu a:link,
div.ilMainMenu a.MMInactive:link, 
div.ilMainMenu a.MMInactive:visited {
	color: #005133;
	display: block;
	float: left;
	padding: .5em 1em;
	margin: 0;
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
	-o-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
	position: relative;
	z-index: 99;
}

	div.ilMainMenu a:hover,
	div.ilMainMenu a.MMActive,
	div.ilMainMenu a.MMInactive:hover {
		background-color: #8cb144;
		background-color: rgba(0,0,0,.1);
		text-decoration: none
	}

	div.ilMainMenu a.MMActive {
		color: #fff;
		text-shadow: 0 -1px 1px #005133;
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 76%, rgba(0,0,0,0) 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(76%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 76%,rgba(0,0,0,0) 100%);
		background-image: -o-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 76%,rgba(0,0,0,0) 100%);
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 76%,rgba(0,0,0,0) 100%);
		background-image: linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 76%,rgba(0,0,0,0) 100%);
	}
	
	div.ilMainMenu li.ilMainMenu:first-child a.MMActive {
		-webkit-border-top-left-radius: 7px;
		-webkit-border-bottom-left-radius: 7px;
		-moz-border-radius-topleft: 7px;
		-moz-border-radius-bottomleft: 7px;
		border-top-left-radius: 7px;
		border-bottom-left-radius: 7px;
	}

/* Breadcrumbs */

div.ilLocator {
	border-bottom: 1px solid #f0f0f0;
	padding: 2px;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
}

div.ilLocator:hover {
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* Tabs */


li.tabactive,
a.tabinactive {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}


li.tabactive {
	border-color: #9fc94e #9fc94e #FFFFFF;
	font-weight: bold;
}

	li.tabactive a {
		color: #444
	}

li.tabinactive {
	border-bottom: 1px solid #9fc94e;
}

	a.tabinactive {
		background-color: #f6fcec;
		border-color: #9fc94e #9fc94e;
		border-color: rgba(159, 201, 78, .5) rgba(159, 201, 78, .5);
	}
	
		a.tabinactive:hover {
			color: #80a101
		}

/* Sub Tabs */

div.il_SubTab {
	border-bottom: 1px solid #9fc94e;
	padding: 0 1%;
	width: 98%;
	margin-bottom: .5em;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.1);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.1);
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.02) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.02)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 100%);
	background: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.02) 100%);
}

ul.il_SubTab {
	padding: 0
}

	ul.il_SubTab a {
		padding: .5em
	}

a.subtabactive {
	color: #444;
	font-weight: bold;
}

a.subtabactive:hover,
a.subtabinactive:hover {
	text-decoration: none;
	padding: .5em
}

/* Tree View */
a.ilTreeView {
	position: fixed;
	left: 0;
	top: 200px;
}

div.ilPermaLink {
	margin: 0
}

div.ilPermaLink div {
	border-top: 1px solid #dbdbdb;
	margin: 2em 0;
	padding-top: .8em;
}

/* Main Content */

table.ilTabContentOuter {
	border-color: #9fc94e;
}

div.ilTabContentInner {
	margin: 0;
	padding: 2%;
}

table.il_InfoScreen,
table.il_Block, .ilOverlay  {
	border: none
}

td.il_LeftColumn {
	padding-right: 20px;
}

td.il_RightColumn {
	padding-left: 20px;
}

th.ilPDBlockSubHeader,
td.ilBlockHeader, td.ilBlockHeaderBig,
td.ilFormHeader, td.ilFormFooter {
	font-size: 100%
}

/* Section Heading */

div.il_HeaderInner {
	float: none;
	padding: 0
}

h1.ilHeader {
	padding: 0;
	margin: 1em 0 1em 50px;
	border-bottom: 1px solid #F0F0F0;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	position: relative;
}
	
	h1.ilHeader span {
		left: -50px !important;
	}
	
	h1.ilHeader img {
		vertical-align: text-bottom !important;
	}

div.ilHeaderDesc {
	padding: 0;
	margin-left: 51px;
	font-size: 1em;
	color: #A4A4A4;
	margin-top: -1.3em;
	margin-bottom: 1em
}

table.std {
	background: #fff
}

/* Smoooooth & Rooooomy tables */

table.std, table.ilForm,
.ilCLIRow1, .ilCLIRow2,
.tblrow1, .tblrow2 {
	background: #fff;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.02) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.02)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.02) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.02) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.02) 100%);
	background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.02) 100%);
	padding: 1em 0;
}

.ilCLIRow1, .ilCLIRow2,
td.ilCLI {
	display: block;
}

/* the rows of "real" tables */
.tblrow1, .tblrow2 {
	font-size: .9em;
	line-height: 1.3em
}

tr.tblheader {
	font-size: .8em;
	line-height: 1.3em
}

th.il_InfoScreenSection,
div.ilTableHeaderTitle {
	border: none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

td.ilFormHeader, td.ilFormFooter {
	background: none;
	padding: .5em .3em;
	margin: 2em 0;
}

h3.ilFormHeader,
h3.ilTableHeaderTitle,
h3.il_InfoScreenSection {
	display: block;
	background-color: #F8F8F8;
	padding: .5em .3em;
	margin: 1em 0;
	border-bottom: 1px solid #E9E9E9;
	font-weight: normal
}

h3.ilBlockHeader,
h3.ilPDBlockSubHeader,
td.ilBlockHeader, td.ilBlockHeaderBig {
	font-weight: normal;
}

h3.ilPDBlockSubHeader {
	color: #8a8a8a
}

/* Make a lot of stuff borderless */
div.ilTableOuter,
table.std,
table.ilForm,
table.ilContainerBlock,
table.calmini,
td.calministd,
td.calmininext,
td.calminiprev,
div.ilc_page_tnav_TopNavigation, th.ilc_page_tnav_TopNavigation,
table.ilc_page_cont_PageContainer, th.ilc_page_cont_PageContainer,
div.ilc_page_bnav_BottomNavigation, th.ilc_page_bnav_BottomNavigation,
.questionPrintview,
th.option, td.option {
	border: none !important;
}

div.il_Description,
div.il_ItemProperties,
td.il_InfoScreenProperty {
	color: #909090;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

/* Hide action elements, show them on hover */

div.il_ContainerItemCommands2 {
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}

	td.ilCLI:hover div.il_ContainerItemCommands2,
	.touch div.il_ContainerItemCommands2 {
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
	}

/* The secondary font style */

div.il_ItemProperties,
div.ilFormInfo {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	border-top: 1px solid #f3f3f3;
	padding-top: .5em;
	margin-top: .3em;
	font-size: .9em;
}

	td.ilCLI:hover div.il_ItemProperties {
		color: #444
	}

h3.ilFormHeader + div.ilFormInfo {
	border-top: none;
	font-size: 1em
}


/* Global Footer
--------------------------------*/
#ilMainFooter {
	font-size: .7em;
	line-height: 1.3em;
	color: #a4a4a4;
	margin: 2em 0
}

/* Kiosk Modus
--------------------------------*/

body.kiosk {
	overflow: visible;
  	text-shadow: 0 1px 0 #fff;
	height: 100%;
	color: #6f5f3f;
	padding: 4%;
	max-width: 840px;
	z-index: 0;
	margin: 2% auto;
	position: relative;
	min-height: 300px;
}

/* Paper background */
/* https://github.com/kremalicious/csspaperstack */

body.kiosk,
body.kiosk:before,
body.kiosk:after {
	background: #f4f2ee;
	background: -moz-linear-gradient(top, #F4F0E7 0%, #F4F2EE 15%, #F4F2EE 85%, #F4F0E7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F0E7), color-stop(15%,#F4F2EE), color-stop(85%,#F4F2EE), color-stop(100%,#F4F0E7));
	background: -webkit-linear-gradient(top, #F4F0E7 0%,#F4F2EE 15%,#F4F2EE 85%,#F4F0E7 100%);
	background: -o-linear-gradient(top, #F4F0E7 0%,#F4F2EE 15%,#F4F2EE 85%,#F4F0E7 100%);
	background: -ms-linear-gradient(top, #F4F0E7 0%,#F4F2EE 15%,#F4F2EE 85%,#F4F0E7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4F0E7', endColorstr='#F4F0E7',GradientType=0 );
	background: linear-gradient(top, #F4F0E7 0%,#F4F2EE 15%,#F4F2EE 85%,#F4F0E7 100%);
	border: 1px solid #deddd9;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.08);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.08);
	box-shadow: 0 0 4px rgba(0,0,0,.08);
}

	body.kiosk:before,
	body.kiosk:after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		overflow: hidden;
	}

	body.kiosk:before {
		left: 1%;
		z-index: -2;
		top: 1%;
		height: 102%;
	}

	body.kiosk:after {
		left: -0.5%;
		z-index: -2;
		top: 2%;
	}

.kiosk table.fullwidth,
.kiosk tr.std {
	background: transparent
}

#kioskOptions,
#tst_output {
	padding: 1em 0;
}

#tst_output {
	float: none;
}

#kioskOptions {
	border-bottom: 1px solid #e4dfd6;
	border-bottom: 1px solid rgba(163, 153, 132, .2);
	border-top: 1px solid #e4dfd6;
	border-top: 1px solid rgba(163, 153, 132, .2);
	color: #a39984;
}

#workingtime {
	margin: 1em 0 2em 0;
	line-height: 1.7em;
}

#timeleft {
	font-size: 1.7em
}

#testbuttons {
	
}
	
	.testproceed,
	.questionactions {
		width: 50%;
		float: left;
	}
	
	.questionactions {
		float: right;
		text-align: right;
	}

	#testbuttons input.submit,
	#bottomtestbuttons input.submit {
		margin: 2%;
		margin-left: 0;
		display: inline-block;
		min-width: 180px
	}

	#prevbutton, #bottomprevbutton,
	#summarybutton, #bottomsummarybutton,
	#postponebutton, #bottompostponebutton {
		-moz-opacity: 0.6;
		-khtml-opacity: 0.6;
		opacity: 0.6;
		filter: alpha(opacity=60);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	}
	
	input.submit#summarybutton, input.submit#bottomsummarybutton,
	input.submit#postponebutton, input.submit#bottompostponebutton {
		margin-left: 2%;
		margin-right: 0
	}
	
	input.submit#prevbutton, input.submit#bottomprevbutton,
	input.submit#summarybutton, input.submit#bottomsummarybutton {
		
	}
	
	#tst_output input.submit:hover {
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
		filter: alpha(opacity=100);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}
	
	#prevbutton, #bottomprevbutton {
		
	}
	
	#bottomtestbuttons {
		margin-top: 0
	}
	
	#nextbutton, #bottomnextbutton {}
	
	#postponebutton, #bottompostponebutton {}
	
	/* Question List */
	#tst_left {
		float: left;
		width: 14%;
		height: 100%;
		margin-right: 3%;
		margin-top: .5em;
		padding-right: 2%;
		border-right: 1px solid #e4e0d6
	}
	
	#tst_left h1 {
		margin-bottom: 1em
	}
	
	div.shortlist input[type="submit"] {
		color: #6aa101;
		padding: .3em;
		border-bottom: 1px solid #e4e0d6;
		width: 100%;
		position: relative;
		font-size: .9em
	}
	
	div.shortlist input[type="submit"]:hover,
	div.shortlist input[type="submit"].active {
		background-color: #FBFBFB;
		text-decoration: none
	}
	
	div.shortlist input[type="submit"]:active {
		top: 1px
	}
	
	div.shortlist input[type="submit"].answered {
		font-weight: normal
	}
	
	.kiosk div.ilTableCommandRow, .kiosk div.ilTableCommandRowTop {
		background: transparent
	}
	
	#kioskOptions + p {
		font-weight: bold;
	}
	
	p#testcancel {
		clear: both;
		text-align: right;
		margin-top: 2em
	}

div#ilc_Page {
	margin: 2em 0;
	background-color: #FBFBFB;
	border-color: #e4dfd6;
	padding: 1% 3%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.kiosk .warning {
	margin-bottom: 2em;
}

h1.ilc_page_title_PageTitle,
.questionTitle {
	border-bottom: 3px solid #9bc34b;
}

div.ilc_question_Standard {
	background: transparent;
	border: none;
}

#finalstatement {
	width: 240px;
	margin: 5% auto
}

/* Kalender
--------------------------------*/

table.calmini {
	font-size: 1.1em;
}

td.calminiweek, th.calminiweek,
.calminiheader th.calmini {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	font-weight: normal;
	font-size: .7em
}

	.calminiheader th.calmini {
		font-size: .8em;
		color: #909090
	}

p.il_calmini_monthday a, div.il_calmini_monthday a {
	display: block;
	padding: .3em
}

td.calmininext,
td.calminiprev {
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}


/* Voransicht als Mitglied
--------------------------------*/

div.ilMemberViewMainHeader {
	background-color: rgba(152, 26, 10, .9);
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 56%, rgba(0,0,0,0.2) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(56%,rgba(0,0,0,0.05)), color-stop(100%,rgba(0,0,0,0.2)));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 56%,rgba(0,0,0,0.2) 100%);
	background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 56%,rgba(0,0,0,0.2) 100%);
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 56%,rgba(0,0,0,0.2) 100%);
	background-image: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 56%,rgba(0,0,0,0.2) 100%);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.5);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.5);
	box-shadow: 0 1px 4px rgba(0,0,0,.5);
	border-bottom: 1px solid #5c0a05;
	margin-bottom: 1em;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	padding-top: 0
}

div.ilMemberViewMainHeader > div {
	padding: 0 2% !important
}

div.ilMemberViewMainHeader h1 {
	text-shadow: 0 -1px 0 #000;
	margin-top: 0;
}

div.ilMemberViewMainHeader h4 {
	margin-top: .5em;
	float: right;
}


/* Login Page
--------------------------------*/

#ilMainContainer.ilLoginPage {
	max-width: 400px;
	min-width: 240px;
	padding-top: 5%
}

	.ilLoginPage img,
	.ilLoginPage form,
	.ilLoginPage table {
		display: block;
		margin: 0 auto
	}
	
	.ilLoginPage img {
		margin-bottom: 1em
	}
	
	.ilLoginPage #formlogin {
		border-bottom: 3px solid #9bc34b;
		margin-bottom: 0;
		padding-bottom: 1em
	}
	
	.ilLoginPage legend,
	.ilLoginPage h1 {
		text-align: center;
		width: 100%;
		padding-bottom: .5em;
		border-bottom: 3px solid #9bc34b
	}
	
	.ilLoginPage p {
		margin: .5em 0;
		float: left;
		width: 100%
	}
	
	.ilLoginPage form p.first {
		padding-top: 2em;
		margin-top: 0;
		border-top: 1px solid #fff
	}
	
	.ilLoginPage label {
		width: 30%;
		float: left;
		padding-top: .5em
	}
	
	.ilLoginPage input,
	.ilLoginPage input[type="submit"]:hover {
		width: 60%;
		float: right;
		padding: .5em
	}
	
	.ilLoginPage input[type="submit"],
	.ilLoginPage input[type="submit"]:hover {
		width: 100%;
		float: none;
		margin: 1em 0
	}

#ilLoginHelpers {
	text-align: center;
	margin: 0;
	padding: 2em 0
}

#ilLoginHelpers .publiclink {
	font-size: 1em;
	margin-bottom: 1em;
	display: block
}

#languageselection,
#agreement {
	padding-top: 1em;
	margin-top: 1em
}

#languageselection {
	border-top: 1px solid #dbdbdb;
	text-align: center;
	clear: both
}

	#languageselection select {
			text-shadow: none
	}
	
	#languageselection input[type="submit"] {
		padding: 0.2em 0.5em;
		width: 15%;
	}

#agreement {
	border-top: 1px solid #9bc34b;
	text-align: center;
}

/* Messages
--------------------------------*/

.warning {
	text-align: center;
	background-color: #fbc8c8;
	background-color: rgba(255, 0, 0, .2);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.2) 2%, rgba(255,255,255,0) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(2%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0)));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.2) 2%,rgba(255,255,255,0) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.2) 2%,rgba(255,255,255,0) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.2) 2%,rgba(255,255,255,0) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.2) 2%,rgba(255,255,255,0) 100%);
	border: 1px solid red;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 1em;
	margin: 1em 0;
	color: #8e2f2f;
	text-shadow: 0 1px 0 rgba(255,255,255,.4);
	display: block;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

/* Non-semantic helper classes 
--------------------------------*/

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders */
.visuallyhidden, .ilAccHidden, .ilAccHeadingHidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.alignleft {float: left}
.alignright {float: right}
.block {display: block}
.inlineblock {display: inline-block}


/* Responsive design. 
--------------------------------*/

@media only screen and (max-width: 480px) {

	div.ilMainHeader > div:first-child {
		float: none !important;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
		div.ilMainHeader div:first-child img {
			margin: 1em auto;
			margin-bottom: 0;
			display: block;
		}
	
	div.ilTopTitle {
		text-align: center;
		margin-top: 0 !important;
		max-width: 100%;
		width: 100%;
		white-space: normal;
		margin-bottom: 1em
	}
	
	div.ilLogin {
		left: 0;
	}

}

@media only screen and (max-width: 768px) {
  
	.ilFrame,
	body.kiosk {
	  	font-size: .9em;
	  	line-height: 1.2em
	  }
	 
	div.ilMainHeader div:first-child img {
		width: 90px;
		height: 47px;
	}
	
	div.ilTopTitle {
		margin-top: .7em;
	}
	
	div.ilTabContentInner {
		padding: 1%;
	}
  
}
